* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-left: 3rem;
}

ul li {
    margin-right: 2rem;
}